body {
    // margin: $global-padding;
    // border: 1px solid $border-color;
}
.page-title {
    text-align: center;
}
.border-width-1  { border-width: 1px !important; }
.border-width-2  { border-width: 2px !important; }
.border-radius-1 { border-radius: 1px !important; }
.border-radius-2 { border-radius: 2px !important; }
.menu {
    margin-bottom: $global-margin;
}
header {
    background-color: rgba(black, 0.5);
    padding-top: $global-margin;
    // border-bottom: 1px solid $border-color;
}
main {
    padding-top: $global-margin;
}
footer {
    background-color: rgba(black, 0.5);
    padding-top: $global-margin;
    // border-top: 1px solid $border-color;
}
table.character-list {
    @include breakpoint(small down) {
        font-size: 75%;
        > * > tr > * { padding: rem-calc(2 4); }
    }
    > thead > tr { vertical-align: bottom; }
    > tbody > tr { vertical-align: baseline; }
    > tbody > tr {
        > *:nth-child(1) { width: 6em; }
        > *:nth-child(2) { width: 4em; text-align: right; }
        > *:nth-child(3) { width: 2em; text-align: center; }
    }
}
textarea.try-routed-gothic {
    &.font-stretch--normal {
        &.font-style--normal {
            font-family: 'routed-gothic';
        }
        &.font-style--half-italic {
            font-family: 'routed-gothic--half-italic';
        }
        &.font-style--italic {
            font-family: 'routed-gothic--italic';
        }
    }
    &.font-stretch--narrow {
        &.font-style--normal {
            font-family: 'routed-gothic--narrow';
        }
        &.font-style--half-italic {
            font-family: 'routed-gothic--narrow--half-italic';
        }
        &.font-style--italic {
            font-family: 'routed-gothic--narrow--italic';
        }
    }
    &.font-stretch--wide {
        &.font-style--normal {
            font-family: 'routed-gothic--wide';
        }
        &.font-style--half-italic {
            font-family: 'routed-gothic--wide--half-italic';
        }
        &.font-style--italic {
            font-family: 'routed-gothic--wide--italic';
        }
    }
    &.font-size--large {
        font-size: 200%;
    }
    &.font-size--x-large {
        font-size: 400%;
    }
}
figcaption {
    text-align: center;
    font-style: italic;
}
figure img + figcaption {
    margin-top: 0.25rem;
}
