{% extends "_layouts/default.njk" %}
{% set pageTitle = "Unicode Coverage | Routed Gothic" %}

{% block main %}
    <h1 class="page-title">
        Routed Gothic Unicode Coverage
    </h1>

    {% include "_components/unicode-coverage.njk" %}

{% endblock %}
