<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>Routed Gothic Font</title>
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>

        <header>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell">

                        <ul class="menu align-center">
                            <li>
                                <a href="./">Home</a>
                            </li>
                            <li>
                                <a href="samples.html">Samples</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/dse/routed-gothic">GitHub</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </header>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">

                    <main>
                        <h1 class="page-title">
                            {{ page.title }}
                        </h1>

                        {{ content }}
                    </main>

                </div>
            </div>
        </div>

        <footer>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell">

                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
