<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="css/app.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    </head>
    <body>

        <header>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell">

                        <p class="text-center margin-bottom-0">
                            Routed Gothic Font
                        </p>

                        <ul class="menu align-center">
                            <li>
                                <a href="./">Home</a>
                            </li>
                            <li>
                                <a href="samples.html">Samples</a>
                            </li>
                            <li>
                                <a href="try.html">Try It</a>
                            </li>
                            <li>
                                <a target="_blank" href="download/routed-gothic-ttf.zip">Download</a>
                            </li>
                            <li>
                                <a target="_blank" href="download/">Past Releases</a>
                            </li>
                            <li>
                                <a href="unicode-coverage.html">Unicode Coverage</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/dse/routed-gothic">GitHub</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </header>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">

                    <main>
                        <h1 class="page-title">
                            {{ page.title }}
                        </h1>

                        {{ content }}
                    </main>

                </div>
            </div>
        </div>

        <footer>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell">

                        <p>
                            Routed Gothic &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            <a href="mailto:dse@webonastick.com">Darren Embry</a>.

                            License: <a target="_blank" href="https://opensource.org/licenses/OFL-1.1">SIL OFL-1.1</a>
                        </p>

                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
