@font-face {
    font-family: 'routed-gothic';
    src: url('../fonts/routed-gothic.ttf') format('opentype');
}
@font-face {
    font-family: 'routed-gothic--half-italic';
    src: url('../fonts/routed-gothic-half-italic.ttf') format('opentype');
}
@font-face {
    font-family: 'routed-gothic--italic';
    src: url('../fonts/routed-gothic-italic.ttf') format('opentype');
}
@font-face {
    font-family: 'routed-gothic--narrow';
    src: url('../fonts/routed-gothic-narrow.ttf') format('opentype');
}
@font-face {
    font-family: 'routed-gothic--narrow--half-italic';
    src: url('../fonts/routed-gothic-narrow-half-italic.ttf') format('opentype');
}
@font-face {
    font-family: 'routed-gothic--narrow--italic';
    src: url('../fonts/routed-gothic-narrow-italic.ttf') format('opentype');
}
@font-face {
    font-family: 'routed-gothic--wide';
    src: url('../fonts/routed-gothic-wide.ttf') format('opentype');
}
@font-face {
    font-family: 'routed-gothic--wide--half-italic';
    src: url('../fonts/routed-gothic-wide-half-italic.ttf') format('opentype');
}
@font-face {
    font-family: 'routed-gothic--wide--italic';
    src: url('../fonts/routed-gothic-wide-italic.ttf') format('opentype');
}

.font--routed-gothic {
    font-family: 'routed-gothic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.font--routed-gothic--half-italic {
    font-family: 'routed-gothic--half-italic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.font--routed-gothic--italic {
    font-family: 'routed-gothic--italic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.font--routed-gothic--narrow {
    font-family: 'routed-gothic--narrow', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.font--routed-gothic--narrow--half-italic {
    font-family: 'routed-gothic--narrow--half-italic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.font--routed-gothic--narrow--italic {
    font-family: 'routed-gothic--narrow--italic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.font--routed-gothic--wide {
    font-family: 'routed-gothic--wide', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.font--routed-gothic--wide--half-italic {
    font-family: 'routed-gothic--wide--half-italic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.font--routed-gothic--wide--italic {
    font-family: 'routed-gothic--wide--italic', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Routed Gothic';
    src: url('../fonts/routed-gothic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Routed Gothic Half Italic';
    src: url('../fonts/routed-gothic-half-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: normal;
    font-style: oblique;
}
@font-face {
    font-family: 'Routed Gothic';
    src: url('../fonts/routed-gothic-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Routed Gothic';
    src: url('../fonts/routed-gothic-narrow.ttf') format('opentype');
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
}
@font-face {
    font-family: 'Routed Gothic Half Italic';
    src: url('../fonts/routed-gothic-narrow-half-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: condensed;
    font-style: oblique;
}
@font-face {
    font-family: 'Routed Gothic';
    src: url('../fonts/routed-gothic-narrow-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: condensed;
    font-style: italic;
}

@font-face {
    font-family: 'Routed Gothic';
    src: url('../fonts/routed-gothic-wide.ttf') format('opentype');
    font-weight: normal;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'Routed Gothic Half Italic';
    src: url('../fonts/routed-gothic-wide-half-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: expanded;
    font-style: oblique;
}
@font-face {
    font-family: 'Routed Gothic';
    src: url('../fonts/routed-gothic-wide-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: expanded;
    font-style: italic;
}

.font-family-routed-gothic {
    font-family: "Routed Gothic", sans-serif;
}
.font-family-routed-gothic-half-italic {
    font-family: "Routed Gothic Half Italic", sans-serif;
}
